@charset "UTF-8";

/*
Theme Name: Elegantique
Author: Simon Garbin
Description: WordPress theme.
Requires at least: 6.2.2
Tested up to: 6.2.2
Requires PHP: 8.0
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: elegantique

Elegantique WordPress Theme, (C) 2023 Simon Garbin
Elegantique is distributed under the terms of the GNU GPL.
*/

:root {
    /* Text formatting */
    --elegantique--font-family--primary: 'Roboto', sans-serif;
    --elegantique--font-family--secondary: 'EB Garamond', serif;
    --elegantique--font-size--normal: 1.0rem;
    --elegantique--line-height--normal: 1.6;

    --elegantique--font-weight-normal: 300;
    --elegantique--font-weight-bold: 600;

    --elegantique--heading--font-family: var(--elegantique--font-family--secondary);
    --elegantique--heading--font-weight: var(--elegantique--font-weight-bold);
    --elegantique--heading--font-size-h1: 2.4rem;
    --elegantique--heading--font-size-h2: 2.0rem;
    --elegantique--heading--font-size-h3: 1.6rem;
    --elegantique--heading--font-size-h4: 1.4rem;
    --elegantique--heading--font-size-h5: 1.2rem;
    --elegantique--heading--font-size-h6: 1.1rem;
    --elegantique--heading--line-height: 1.2;

    /* Colors */
    --elegantique--theme-color: #8f2b2b;
    --elegantique--color-light-gray: #fafafa;
    --elegantique--color-gray: #f5f5f5;
    --elegantique--color-dark-gray: #c7c7c7;
    --elegantique--body--bg-color: #fff;
    --elegantique--selection--bg-color: #efc6c4;
    --elegantique--hyperlink--color: #1c27a2;
    --elegantique--hyperlink-visited--color: #582da3;

    /* Reading progress bar */
    --elegantique--reading-progress--height: 4px;
    --elegantique--reading-progress--bg-color-l: #5e5e5e;
    --elegantique--reading-progress--bg-color-r: #ffa500;

    /* Header */
    --elegantique--site-navigation--font-size: 0.9em;

    /* Sidebars */
    --elegantique--sidebar--width: 25%;

    /* Back-to-top button */
    --elegantique--back-to-top--right: 5vw;
    --elegantique--back-to-top--bottom: 5vw;
    --elegantique--back-to-top--dimensions: 40px;
    --elegantique--back-to-top--bg-color: #6e6e6e;

    overflow: auto;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ----------------------------------------
 * Text formatting
 * ----------------------------------------
 */

body {
    font-family: var(--elegantique--font-family--primary);
    font-size: var(--elegantique--font-size--normal);
    line-height: var(--elegantique--line-height--normal);
    font-weight: var(--elegantique--font-weight-normal);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    clear: both;
    font-family: var(--elegantique--heading--font-family);
    font-weight: var(--elegantique--heading--font-weight);
    line-height: var(--elegantique--heading--line-height);
}

h1,
.h1 {
    font-size: var(--elegantique--heading--font-size-h1);
}

h2,
.h2 {
    font-size: var(--elegantique--heading--font-size-h2);
}

h3,
.h3 {
    font-size: var(--elegantique--heading--font-size-h3);
}

h4,
.h4 {
    font-size: var(--elegantique--heading--font-size-h4);
}

h5,
.h5 {
    font-size: var(--elegantique--heading--font-size-h5);
}

h6,
.h6 {
    font-size: var(--elegantique--heading--font-size-h6);
}

::selection {
    background-color: var(--elegantique--selection--bg-color);
}

a {
    cursor: pointer;
    color: var(--elegantique--hyperlink--color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
}

a:visited {
    color: var(--elegantique--hyperlink-visited--color);
}

b,
strong {
    font-weight: bolder;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
}

.site-content p {
    text-align: justify;
}

/* ----------------------------------------
 * Input elements
 * ----------------------------------------
 */

select,
button {
    border: none;
}

/* Button */
button {
    background-color: var(--elegantique--color-gray);
    font-weight: inherit;
}

button:hover {
    background-color: var(--elegantique--color-dark-gray);
}

/* Text input */
input[type=text],
input[type=search],
textarea {
    border-color: var(--elegantique--color-dark-gray);
}

/* ----------------------------------------
 * Page layout
 * ----------------------------------------
 */

body {
    margin: 0;
    padding: 0;
}

.site-header > div,
.site-content-area,
.site-footer > div {
    padding-left: 5vw;
    padding-right: 5vw;
}

.site-header {
    margin-bottom: 4em;
}

.site-content-area {
    display: flex;
    flex-direction: column;
}

.site-main {
    min-height: 100vh;
}

.site-footer {
    margin-top: 4em;
}

@media only screen and (min-width: 769px) {

    .site-content-area {
        flex-direction: row;
    }

    .site-main {
        flex-grow: 1;
    }

    .site-sidebar {
        flex: 0 0 var(--elegantique--sidebar--width);
        margin-left: 2em;
    }

}

@media only screen and (min-width: 1000px) {

    .site-wrap {
        width: 90%;
        max-width: 1180px;
        margin: 0 auto;
    }

    .site-header > div,
    .site-content-area,
    .site-footer > div {
        padding-left: 50px;
        padding-right: 50px;
    }

}

/* ----------------------------------------
 * Colors and fonts
 * ----------------------------------------
 */

body {
    background-color: var(--elegantique--body--bg-color);
}

.site-navigation-bar {
    border-top: 2px solid var(--elegantique--color-dark-gray);
    border-bottom: 2px solid var(--elegantique--color-dark-gray);
}

.site-navigation-bar .sub-menu {
    background-color: var(--elegantique--theme-color);
}

.site-navigation-bar {
    color: black;
}

.site-navigation-bar .sub-menu {
    color: white;
}

.site-navigation-bar a, .fa {
    color: inherit;
}

.site-navigation-bar a::after {
    background-color: var(--elegantique--theme-color);
}

.site-navigation-bar a:hover {
    color: var(--elegantique--theme-color);
}

.icon-bar {
    background-color: var(--elegantique--color-dark-gray);
}

.site-navigation-panel {
    background-color: var(--elegantique--theme-color);
}

.site-header {
    background-color: var(--elegantique--body--bg-color);
}

.site-footer {
    border-top: 2px solid var(--elegantique--color-dark-gray);
}

.excerpt-header {
    font-family: var(--elegantique--font-family--secondary);
    color: var(--elegantique--theme-color);
}

.excerpt {
    background-color: var(--elegantique--color-gray);
}

.excerpt-content-wrap {
    background-color: var(--elegantique--color-light-gray);
}

.excerpt a,
.excerpt-title {
    color: var(--elegantique--theme-color);
}

.excerpt-title-ruler {
    background-color: var(--elegantique--color-dark-gray);
}

.excerpt-title-ruler::after {
    background-color: var(--elegantique--theme-color);
}

/* ----------------------------------------
 * Reading progress bar
 * ----------------------------------------
 */

#reading-progress-bar {
    position: fixed;
    inset: 0 auto auto 0;
    width: 100vw;
    height: var(--elegantique--reading-progress--height);
    z-index: 9997;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

#reading-progress-bar::-webkit-progress-bar {
    background-color: transparent;
}

#reading-progress-bar::-webkit-progress-value {
    background-color: var(--elegantique--reading-progress--bg-color-l);
    background-image: -webkit-linear-gradient(
        left,
        transparent,
        var(--elegantique--reading-progress--bg-color-r)
        );
}

#reading-progress-bar::-moz-progress-bar {
    background-color: var(--elegantique--reading-progress--bg-color-l);
    background-image: -webkit-linear-gradient(
        left,
        transparent,
        var(--elegantique--reading-progress--bg-color-r)
        );    
}

/* ----------------------------------------
 * Header
 * ----------------------------------------
 */

.site-header {
    position: sticky;
    inset: 0 0 auto;
    z-index: 8999;
    transition: top 1s ease-in-out;
    transition-property: top, right;
    transition-duration: 1s, 0.5s;
    transition-timing-function: ease-in-out, ease-in-out;
}

.site-branding {
    display: none;
}

.site-title {
    padding: 1em 0;
    text-align: center;
    font-family: var(--elegantique--font-family--secondary);
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-break: break-word;
}

.site-logo {
    text-align: center;
}

.site-logo img {
    max-width: 100%;
    max-height: 160px;
    padding: 2em 0;
    object-fit: contain;
}

@media only screen and (min-width: 769px) {

    .site-branding {
        display: block;
    }

}

/* ----------------------------------------
 * Content
 * ----------------------------------------
 */

.content-header {
    font-size: var(--elegantique--heading--font-size-h1);
    margin-bottom: 2em;
}

.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.title-ornament {
    display: block;
    max-width: 100%;
    height: 1em;
    margin: 0 auto;
}

/* ----------------------------------------
 * Footer
 * ----------------------------------------
 */

.site-footer {
    padding-bottom: 1.5em;
}

.footer-widget-areas {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    row-gap: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer-widget-areas .widget-area {
    flex: 1 0 calc(100% / 3);
}

.site-info {
    text-align: center;
    font-size: 0.8em;
}

.site-info a {
    font-weight: bold;
    color: black;
}

@media only screen and (min-width: 769px) {

    .footer-widget-areas {
        flex-direction: row;
    }

}

/* ----------------------------------------
 * Navigation bar(s)
 * ----------------------------------------
 */

.site-navigation {
    display: none;
    text-align: center;
    font-size: var(--elegantique--site-navigation--font-size);
    line-height: 1;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {

    .site-navigation {
        display: block;
    }

    .site-icon-menu {
        display: none;
    }

}

.site-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    position: relative;
    display: block;
}

.site-navigation > ul > li {
    display: inline-block;
}

.site-navigation .has-sub-menu {
    position: relative;
}

.site-navigation .sub-menu {
    position: absolute;
    inset: 100% auto auto 0;
    display: none;
    min-width: 200px;
    text-align: left;
}

.site-navigation .has-sub-menu:hover .sub-menu {
    display: block;
}

.site-navigation a {
    position: relative;
    display: inline-block;
    padding: 1.2em;
    text-decoration: none;
    color: black;
    transition-property: color;
}

.site-navigation .sub-menu a {
    display: block;
    color: white;
    transition-property: none;
}

.site-navigation a::after {
    content: "";
    position: absolute;
    inset: auto auto 0.6em 50%;
    transform: translateX(-50%);
    width: 1.25em;
    height: 1px;
    opacity: 0;
    transition-property: opacity;
}

.site-navigation a,
.site-navigation a::after {
    transition-duration: 0.25s;
}

.site-navigation a:hover::after {
    opacity: 1;
}

.site-navigation .sub-menu-arrow {
    position: absolute;
    inset: 50% 0 auto auto;
    transform: translateY(-50%);
}

.site-navigation .fa {
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

.site-navigation li:hover > .sub-menu-arrow > .fa {
    transform: rotate(180deg);
}

/* Icon menu */
.site-icon-menu {
    padding: 1em 0;
    cursor: pointer;
}

.menu-icon {
    height: 20px;
    width: 28px;
    margin-left: auto;
}

.icon-bar {
    width: 28px;
    height: 2px;
    border-radius: 2px;
    transition: all 0.5s;
}

.icon-bar:nth-child(2) {
    margin: 7px 0;
}

.menu-icon.is-cross .icon-bar:first-child {
    transform: translate(0, 9px) rotate(-45deg);
}

.menu-icon.is-cross .icon-bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.is-cross .icon-bar:last-child {
    transform: translate(0, -9px) rotate(45deg);
}

/* Navigation panel */
.dark-overlay,
.site-navigation-panel,
.site-wrap {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.site-navigation-panel {
    position: fixed;
    inset: -5vh auto -5vh 100vw;
    z-index: 9999;
    width: 70vw;
    padding: 10vh 0;
    overflow: hidden;
    color: white;
    transition-property: left;
    font-size: var(--elegantique--site-navigation--font-size);
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.navigation-panel {
    position: relative;
    transform: translateX(0);
    transition: transform 0.25s;
}

.site-navigation-panel ul {
    width: 70vw;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation-panel .sub-menu {
    position: absolute;
    inset: 0 auto auto 100%;
    display: none;
}

.site-navigation-panel .sub-menu.is-displayed {
    display: block;
}

.site-navigation-panel li {
    display: flex;
}

.site-navigation-panel a,
.site-navigation-panel .sub-menu-title span:first-child{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1.5em;
    text-decoration: none;
    color: inherit;
}

.site-navigation-panel .has-sub-menu > a {
    width: calc(100% - 4em);
}

.site-navigation-panel .sub-menu-title {
    position: relative;
}

.site-navigation-panel .sub-menu-title::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--elegantique--theme-color);
    filter: brightness(0.75);
    z-index: -1;
}

.site-navigation-panel .sub-menu-title span:first-child {
    display: inline-block;
    width: 100%;
    padding: 1.5em;
    color: inherit;
    text-decoration: none;
}

.site-navigation-panel .sub-menu-arrow {
    position: relative;
    width: 4em;
}

.site-navigation-panel .sub-menu-arrow .fa {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.dark-overlay {
    position: fixed;
    inset: -5vh 100vw -5vh 0;
    z-index: 9998;
    background: #000;
    transition-property: opacity;
}

.dark-overlay.fade-in {
    opacity: 0.5;
}

.dark-overlay.fade-out {
    opacity: 0;
}

.dark-overlay.fade-in + .site-navigation-panel {
    left: 30vw;
}

.site-wrap {
    position: relative;
    right: 0;
    transition-property: right;
}

.site-header {
    right: 0;
}

.dark-overlay.fade-in + .site-navigation-panel + .site-wrap {
    /*transform: translateX(-70vw);*/
    right: 70vw;
}

.dark-overlay.fade-in + .site-navigation-panel + .site-wrap .site-header {
    right: 70vw;
}

/* ----------------------------------------
 * Back-to-top button
 * ----------------------------------------
 */

/* Maybe use class instead of id? */
/* Additional arrow class? */
/* Move box into content? */

#back-to-top {
    position: fixed;
    inset: auto var(--elegantique--back-to-top--right) var(--elegantique--back-to-top--bottom) auto;
    height: var(--elegantique--back-to-top--dimensions);
    width: var(--elegantique--back-to-top--dimensions);
    background-color: var(--elegantique--back-to-top--bg-color);
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}

#back-to-top .fa-angle-up {
    position: absolute;
    inset: 50% 50% auto auto;
    transform: translate(50%, -50%);
    color: white;
}

@media only screen and (min-width: 769px) {

    #back-to-top {
        display: none;
    }

}

#back-to-top.disappear {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#back-to-top:active {
    opacity: 1;
}

/*
----------------------------------------
Excerpts
----------------------------------------
*/

.excerpt {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.excerpt-header,
.excerpt-content-wrap {
    padding: 2em 1.5em;
}

.excerpt-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.excerpt-title {
    margin: 0;
    font-weight: var(--elegantique--font-weight-normal);
}

.excerpt-content-wrap p {
    margin: 0;
}

.excerpt-content-wrap a {
    font-weight: var(--elegantique--font-weight-bold);
}

.excerpt-post-taxonomies {
    margin-top: 2em;
    font-size: 0.9em;
    line-height: 1.4;
}

@media only screen and (min-width: 769px) {

    .excerpt {
        flex-direction: row;
    }

    .excerpt-header,
    .excerpt-content-wrap {
        padding: 3em;
    }

    .excerpt-header {
        width: 40%;
    }

    .excerpt-title-ruler {
        position: relative;
        width: 100%;
        height: 1px;
        margin-top: 0.5em;
    }

    .excerpt-title-ruler::after {
        content: "";
        position: absolute;
        inset: 0 auto 0 0;
        width: 0;
        opacity: 0;
        transition: all 0.75s ease-out;
    }

    .excerpt:hover .excerpt-title-ruler::after {
        width: 100%;
        opacity: 1;
    }

    .excerpt-content-wrap {
        width: 60%;
    }

}

/*
----------------------------------------
Pagination
----------------------------------------
*/

.pagination {
    padding: 2em 0;
}

.post-nav-links,
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination :is(span, a, a:hover, a:visited) {
    text-decoration: none;
    color: white;
}

.post-page-numbers,
.page-numbers {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    line-height: 2.5em;
    text-align: center;
    font-weight: 600;
    background-color: var(--elegantique--theme-color);
}

:is(.post-page-numbers, .page-numbers).current::after {
    content: "";
    position: absolute;
    inset: auto auto 0.6em 50%;
    transform: translateX(-50%);
    display: block;
    height: 1px;
    width: 0.75em;
    background-color: white;
}





.footer-widget-areas .widget-title {
    display: inline-block;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.footer-widget-areas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-widget-areas ul ul {
    padding-left: 1em;
}

.footer-widget-areas a {
    display: inline-block;
    margin: 0.5em 0;
}

.footer-widget-areas a {
    color: var(--elegantique--theme-color);
}
